<h1>Editing classement</h1>

<%= render "form", classement: @classement %>

<br>

<div>
  <%= link_to "Show this classement", @classement %> |
  <%= link_to "Back to classements", classements_path %>
</div>
