<article id="page-28914" class="post-28914 page type-page status-publish hentry">
    <header class="entry-header">
          <h1 class="entry-title page-title">CONTACT</h1> </header>
      <div class="entry-content mh-clearfix">
            
        <div class="contact-person-box"><div style="background-color: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); border-radius: 0px; --dm-inline-bgcolor: #0e1011; --dm-inline-border-top: #8d8272; --dm-inline-border-right: #8d8272; --dm-inline-border-bottom: #8d8272; --dm-inline-border-left: #8d8272;" data-dm-inline-bgcolor="" data-dm-inline-border-top="" data-dm-inline-border-right="" data-dm-inline-border-bottom="" data-dm-inline-border-left=""><header></header><div class="ce-textpic ce-center ce-above"><div class="ce-gallery"><div class="ce-outer"><div class="ce-inner"><div class="ce-row"><div class="ce-column"><img decoding="async" style="border-radius:0px" src="https://top10guyane.com/wp-content/uploads/2023/05/TOP-10-logo-png-alpha.png" alt="" width="200" height="200"></div></div></div></div></div><div class="ce-bodytext"><h4 class="title">Dépose ton Clip</h4><p class="subtitle">via Wetransfer ou Smash</p><p class="description"></p><a href="mailto:clip@top10guyane.com" class="av-icon-char" target="_blank" rel="noopener noreferrer"><i style="display:block" class="fa fa-envelope"></i>clip@top10guyane.com</a><p class="av-icon-char"><i style="display:block" class="fa fa-phone"></i></p><div class="social-icons"></div></div></div></div></div>



        <h2 class="wp-block-heading has-text-align-center"><a href="https://yanahits.fr/" target="_blank" rel="noreferrer noopener">WebTV Direct</a></h2>
          </div>
</article>
